<table id="show-camp-table">
  <tr>
    <th>ID</th>
    <th>Location</th>
  </tr>
  <tr>
    <td><%= @location.id %></td>
    <td><%= @location.location %></td>
  </tr>
</table>

<%= link_to "Back", admin_locations_path %>
