<%= link_to "Users Listing", admin_users_path %><br>
<%= link_to "Add New Location", new_admin_location_path %><br>

<table class="table" id="admin-camps-table">
  <%= render 'camp_table', camps: @camps %>
</table>

<%= link_to "Add New Camp", new_admin_camp_path %>
