<table id="show-camp-table">
  <tr>
    <th>ID</th>
    <th>Location</th>
  </tr>
  <tr>
    <td><%= @camp.id %></td>
    <td><%= @camp.location %></td>
  </tr>
</table>

<%= link_to "Back", admin_camps_path %>
